*{
    margin: 0 ;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

#root{
    display: flex;
    min-height: 100vh;
}

img{
    max-width: 40px;
}

.contact{
    min-width: 30vw;
}

.chat-contact{
    min-width: 70vw;
    background-color: green;
}

/*il mio contatto*/
.mycontact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B5D8B9;
    border: 1px solid rgb(168, 168, 168);
}   

.icons{
    display: flex;
    gap: 5px;
    padding: 0 10px;
}

.my-image{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/*ricerca contatti*/
.search-contact input{
    padding: 5px 30px;
    display: flex;
    justify-self: center;
    width: 95%;
    margin: 10px 10px ;
    border-radius: 10px;
    border: 1px solid lightgray;
    position: relative;
}

.search-contact i{
    position: absolute;
    transform: translateY(5px);
    margin-left: 20px;
    z-index: 1;
}

/*tutti i contatti*/

.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-contact{
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.new-contact p{
    color: #B5D8B9;
    font-size: 13px;
}

.data p{
    font-size: 12px;
    padding-right: 10px;
    color: #B5D8B9;
}

/*chat contatto*/
.chat-contact{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #B5D8B9;
    border: 1px solid rgb(168, 168, 168);
}

.chat-info-data p{
    padding-right: 640px;
    font-size: 13px;
    color: #6b6b6b;
}

.chat-info-icons{
    gap: 5px;
    display: flex;
}



/*messaggi ricevuti e inviati*/
.chat{
    height: 85%;
    background-color: lightgray;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.chat > div{
    display: flex;
    flex-direction: column;
}

.sent{
    background-color: lime;
    border-radius: 4px;
    padding: 7px 8px;
    max-width: 400px;
    align-self: flex-end;
}

.received{
    background-color: white;
    border-radius: 4px;
    padding: 7px 8px;
    max-width: 400px;
    align-self: flex-start;
}

.chat span{
    align-self: flex-end;
}
